.Logo-Container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.App-logo {
  cursor: default;
  user-select:none;
  color: transparent;
	opacity: 0.5;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.layer-shelf {
  border-right: 1px solid gray;
  box-shadow: inset -15px 0 50px -25px black;
}
